<nav class="navbar navbar-expand-lg navbar-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">Kajecik</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#app-navbar"
                aria-controls="app-navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="app-navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">{{ 'menu.sign_in'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>